*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(242, 201, 76, 0.2) 0%, rgba(242, 153, 74, 0.2) 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.head-title{
  font-weight: 700;
  color: #4E598C;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
.nav a{
  text-decoration: none;
  color: #BDBDBD;
}
.nav a.active{
  color: #F2994A;
}
.active::after{
  content: "";
  width: 5rem;
  margin-block: 1rem 0;
  background-color: #F2994A;
  border-radius: 0.5rem;
  height: 5px;
  display: block;
  z-index: 4;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}
.page-container{
  width: 70%;
  /* border: 1px solid; */
}
.nav{
  display: flex;
  justify-content: space-between;
}
.nav-line{
  position: relative;
  bottom: 1.2rem;
  z-index:-1;
}
.backCard{
  position: absolute;
  top: 32rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: white;
}
label{
  font-weight: 700;
}
.purchase::before{
  visibility: hidden;
}